@font-face {
  font-family: 'icomoon';
  font-display: swap;
  src:
    url('fonts/icomoon.ttf?q2eq79') format('truetype'),
    url('fonts/icomoon.woff?q2eq79') format('woff'),
    url('fonts/icomoon.svg?q2eq79#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quote-filled-closed:before {
  content: "\e900";
}
.icon-quote-filled-open:before {
  content: "\e901";
}
.icon-home4:before {
  content: "\e603";
}
.icon-bathtub:before {
  content: "\e606";
}
.icon-bed:before {
  content: "\e608";
}
.icon-city:before {
  content: "\e60b";
}
.icon-apartment:before {
  content: "\e60c";
}
.icon-pencil2:before {
  content: "\e60e";
}
.icon-pencil4:before {
  content: "\e612";
}
.icon-eye-dropper:before {
  content: "\e625";
}
.icon-palette:before {
  content: "\e626";
}
.icon-gradient:before {
  content: "\e629";
}
.icon-magic-wand:before {
  content: "\e62b";
}
.icon-aim:before {
  content: "\e630";
}
.icon-cloud:before {
  content: "\e64a";
}
.icon-cloud-upload:before {
  content: "\e64b";
}
.icon-cloud-download:before {
  content: "\e64c";
}
.icon-cloud-sync:before {
  content: "\e655";
}
.icon-cloud-lock:before {
  content: "\e656";
}
.icon-cloud-gear:before {
  content: "\e657";
}
.icon-lock:before {
  content: "\e66b";
}
.icon-unlock:before {
  content: "\e66d";
}
.icon-key-hole:before {
  content: "\e66f";
}
.icon-cog:before {
  content: "\e672";
}
.icon-hammer-wrench:before {
  content: "\e676";
}
.icon-trash2:before {
  content: "\e681";
}
.icon-heart:before {
  content: "\e68c";
}
.icon-star:before {
  content: "\e68d";
}
.icon-envelope-open:before {
  content: "\e697";
}
.icon-eye:before {
  content: "\e6a5";
}
.icon-eye-crossed:before {
  content: "\e6a6";
}
.icon-floppy-disk:before {
  content: "\e6ae";
}
.icon-printer:before {
  content: "\e6b1";
}
.icon-file-empty:before {
  content: "\e6b3";
}
.icon-medal-empty:before {
  content: "\e6dd";
}
.icon-picture:before {
  content: "\e70e";
}
.icon-user:before {
  content: "\e71e";
}
.icon-user-plus:before {
  content: "\e71f";
}
.icon-user-minus:before {
  content: "\e720";
}
.icon-user-lock:before {
  content: "\e721";
}
.icon-users2:before {
  content: "\e723";
}
.icon-users-plus:before {
  content: "\e724";
}
.icon-users-minus:before {
  content: "\e725";
}
.icon-store:before {
  content: "\e744";
}
.icon-bag2:before {
  content: "\e74c";
}
.icon-tag:before {
  content: "\e755";
}
.icon-tags:before {
  content: "\e756";
}
.icon-bag-dollar:before {
  content: "\e75e";
}
.icon-bag-euro:before {
  content: "\e75f";
}
.icon-bag-pound:before {
  content: "\e760";
}
.icon-bag-yen:before {
  content: "\e761";
}
.icon-calculator2:before {
  content: "\e767";
}
.icon-telephone:before {
  content: "\e76a";
}
.icon-phone-wave:before {
  content: "\e76c";
}
.icon-telephone2:before {
  content: "\e777";
}
.icon-map-marker:before {
  content: "\e77a";
}
.icon-compass2:before {
  content: "\e780";
}
.icon-map2:before {
  content: "\e782";
}
.icon-location:before {
  content: "\e783";
}
.icon-calendar-empty:before {
  content: "\e785";
}
.icon-keyboard:before {
  content: "\e791";
}
.icon-delete:before {
  content: "\e794";
}
.icon-smartphone:before {
  content: "\e7a6";
}
.icon-tablet2:before {
  content: "\e7ac";
}
.icon-desktop:before {
  content: "\e7af";
}
.icon-launch:before {
  content: "\e7b0";
}
.icon-bubble:before {
  content: "\e7d6";
}
.icon-bubbles:before {
  content: "\e7d7";
}
.icon-quote-open:before {
  content: "\e7e5";
}
.icon-quote-close:before {
  content: "\e7e6";
}
.icon-gift:before {
  content: "\e7ff";
}
.icon-glass-cocktail:before {
  content: "\e80f";
}
.icon-dinner2:before {
  content: "\e812";
}
.icon-speed-medium:before {
  content: "\e835";
}
.icon-rocket:before {
  content: "\e837";
}
.icon-plane:before {
  content: "\e83d";
}
.icon-traffic-lights:before {
  content: "\e840";
}
.icon-car:before {
  content: "\e84a";
}
.icon-bus:before {
  content: "\e84d";
}
.icon-car2:before {
  content: "\e84f";
}
.icon-train:before {
  content: "\e85a";
}
.icon-boat:before {
  content: "\e85e";
}
.icon-bicycle2:before {
  content: "\e860";
}
.icon-ping-pong:before {
  content: "\e869";
}
.icon-hockey:before {
  content: "\e86a";
}
.icon-earth:before {
  content: "\e884";
}
.icon-alarm:before {
  content: "\e8aa";
}
.icon-refresh:before {
  content: "\e8d3";
}
.icon-undo2:before {
  content: "\e8d8";
}
.icon-redo2:before {
  content: "\e8d9";
}
.icon-sync:before {
  content: "\e8da";
}
.icon-code:before {
  content: "\e90b";
}
.icon-link2:before {
  content: "\e917";
}
.icon-thumbs-up:before {
  content: "\e919";
}
.icon-thumbs-down:before {
  content: "\e91a";
}
.icon-share2:before {
  content: "\e920";
}
.icon-magnifier:before {
  content: "\e922";
}
.icon-zoom-in:before {
  content: "\e925";
}
.icon-zoom-out:before {
  content: "\e926";
}
.icon-cross:before {
  content: "\e92a";
}
.icon-menu:before {
  content: "\e92b";
}
.icon-check:before {
  content: "\e934";
}
.icon-cross2:before {
  content: "\e935";
}
.icon-plus:before {
  content: "\e936";
}
.icon-minus:before {
  content: "\e937";
}
.icon-chevron-up:before {
  content: "\e939";
}
.icon-chevron-down:before {
  content: "\e93a";
}
.icon-chevron-left:before {
  content: "\e93b";
}
.icon-chevron-right:before {
  content: "\e93c";
}
.icon-chevrons-expand-vertical:before {
  content: "\e93d";
}
.icon-chevrons-expand-horizontal:before {
  content: "\e93e";
}
.icon-chevrons-contract-vertical:before {
  content: "\e93f";
}
.icon-chevrons-contract-horizontal:before {
  content: "\e940";
}
.icon-arrow-up:before {
  content: "\e941";
}
.icon-arrow-down:before {
  content: "\e942";
}
.icon-arrow-left:before {
  content: "\e943";
}
.icon-arrow-right:before {
  content: "\e944";
}
.icon-expand:before {
  content: "\e94a";
}
.icon-contract:before {
  content: "\e94b";
}
.icon-rulers:before {
  content: "\e97a";
}
.icon-funnel:before {
  content: "\e97c";
}
.icon-pencil-line:before {
  content: "\e9be";
}
.icon-ellipsis:before {
  content: "\e9e9";
}
